<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="formDog" (ngSubmit)="submit()">
                        <h3>Agrega un perro!</h3>
                        <div class="row">
                            <div class="col-md-6 p-1">
                                <div class="form-group">
                                    <div class="col">
                                        <label for="nombre">Nombre</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" id="nombre" formControlName="name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col"><label for="edad">Edad:</label></div>
                                    <div class="col"><input type="number" id="edad" formControlName="age"></div>
                                </div>
                                <div class="form-group">
                                    <div class="col"><label>Sexo:</label></div>
                                    <div class="col"><label for="macho">Macho</label>
                                        <input type="radio" class="radio" id="macho" value="Male"
                                            formControlName="genre">
                                        <label for="hembra">Hembra</label>
                                        <input type="radio" class="radio" id="hembra" value="Female"
                                            formControlName="genre">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col">
                                        <label for="image">Ruta de la imagen:</label>
                                    </div>
                                    <div class="col">
                                        <input type="text" id="image" formControlName="imgUrl">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 p-1">
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="description">Descripcion:</label>
                                        </div>
                                        <textarea formControlName="description" id="description" cols="30"
                                            rows="10"></textarea>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12 div-boton">
                                <button class="btn btn-secondary">Agregar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>