p{
   width: 30%;
   text-align: justify;
   font-weight: bold;
}

button{
    border-radius: 100px;
    background-color:transparent;
    border: solid 1px white;
    color:white;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 15px;
    width:200px;
    font-weight: bold;
}
button:hover{
    border: solid 2px white;
    background-color: rgba(0,0,0,0.5);
}
button:active{
    border:none;
}

.container{
    margin-top:220px;
    margin-left:100px;
}